* {
    font-family: Verdana;
}

hr {
    border-top: 1px solid #84848410;
}

#container {
    width: 700px;
    margin: auto;
}

.message_header {
    display: flex;
}

.message_username {
    font-weight: bold;
    margin-right: 0.5rem;
}

.message_created_at {
    color: #424242;
}

.message_content {
    font-size: 1.2rem;
    padding: 0.5rem 0;
}